#!/bin/bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
  echo "[chezmoi] Installing brew packages..."
  brew install {{ range .packages.darwin.brews }}{{ . }} {{ end }}
  brew install --cask {{ range .packages.darwin.casks }}{{ . }} {{ end }}
{{ else if eq .chezmoi.os "linux" -}}
  echo "[chezmoi] Installing brew packages..."
  brew install {{ range .packages.linux.brews }}{{ . }} {{ end }}
{{ end -}}

echo "[chezmoi] Packages installed."
